# String

# Escape Character
[String 3WSchool](https://www.w3schools.com/python/python_strings_escape.asp)

<table style="width:100%">

<tr>
    <td>\'</td>
    <td>Single Quote</td>
</tr>

<tr>
    <td>\\</td>
    <td>Backslash</td>
</tr>

<tr>
    <td>\n</td>
    <td>New Line</td>
</tr>

<tr>
    <td>\r</td>
    <td>Carriage Return</td>
</tr>

<tr>
    <td>\t</td>
    <td>Tab</td>
</tr>

<tr>
    <td>\b</td>
    <td>Backspace</td>
</tr>

<tr>
    <td>\f</td>
    <td>Form Feed</td>
</tr>

<tr>
    <td>\ooo</td>
    <td>Octal value</td>
</tr>

<tr>
    <td>\xhh</td>
    <td>Hex value</td>
</tr>
</table>

# Method
- https://www.w3schools.com/python/python_strings_methods.asp

### Case (No argument)
<table style="width:100%">
  <tr>
    <td><strong>Method</strong></td>
    <td><strong>Description</strong></td>
  </tr>
  
  <tr>
    <td>capitalize()</td>
    <td>Converts the first character to upper case</td>
  </tr>
  
  <tr>
    <td>casefold()</td>
    <td>Converts string into lower case</td>
  </tr>
  
  <tr>
    <td>lower()</td>
    <td>Converts a string into lower case</td>
  </tr>
  
  <tr>
    <td>title()</td>
    <td>Converts the first character of each word to upper case</td>
  </tr>
  
  <tr>
    <td>upper()</td>
    <td>Converts a string into upper case</td>
  </tr>

### Format
<table style="width:100%">
  <tr>
    <td>format(*arg)</td>
    <td>Formats specified values in a string</td>
  </tr>
  
  <tr>
    <td>format_map(dict)</td>
    <td>Formats specified values in a string</td>
  </tr>
  
  <tr>
    <td>str.maketrans('some_str', 'some_str', 'some_opt_str')</td>
    <td>Returns a translation table (dict type) to be used in translations</td>
  </tr>
  
  <tr>
    <td>'some_str'.translate(<dict>)</td>
    <td>Returns a translated string</td>
  </tr>
  
  <tr>
    <td>expandtabs()</td>
    <td>Sets the tab size of the string</td>
  </tr>
  
  <tr>
    <td>zfill(int_width)</td>
    <td>Fills the string with a specified number of 0 values at the beginning</td>
  </
  
</table>

### Alignment
<table style="width:100%">
  <tr>
    <td>center()</td>
    <td>Returns a centered string</td>
  </tr>
  
  <tr>
    <td>ljust()</td>
    <td>Returns a left justified version of the string</td>
  </tr>
  
  <tr>
    <td>rjust()</td>
    <td>Returns a right justified version of the string</td>
  </tr>
  
  <tr>
    <td>swapcase()</td>
    <td>Swaps cases, lower case becomes upper case and vice versa</td>
  </tr>
</table>

In [1]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

power_series = []
base = "x"
n = 10

for power in range(0, n):
    superscript_power = str(power).translate(str.maketrans("0123456789", "⁰¹²³⁴⁵⁶⁷⁸⁹"))
    power_series.append(f'{base}{superscript_power}')
print(power_series)

I want to pay 49.95 dollars for 3 pieces of item 567.
['x⁰', 'x¹', 'x²', 'x³', 'x⁴', 'x⁵', 'x⁶', 'x⁷', 'x⁸', 'x⁹']

### Alignment
<table style="width:100%">

</table>

### Checking
<table style="width:100%">
  <tr>
    <td>startswith()</td>
    <td>Returns true if the string starts with the specified value</td>
  </tr>

  <tr>
    <td>endswith()</td>
    <td>Returns true if the string ends with the specified value</td>
  </tr>
  
  <tr>
    <td>isalnum()</td>
    <td>Returns True if all characters in the string are alphanumeric</td>
  </tr>
  
  <tr>
    <td>isalpha()</td>
    <td>Returns True if all characters in the string are in the alphabet</td>
  </tr>
  
  <tr>
    <td>isascii()</td>
    <td>Returns True if all characters in the string are ascii characters</td>
  </tr>
  
  <tr>
    <td>isdecimal()</td>
    <td>Returns True if all characters in the string are decimals</td>
  </tr>
  
  <tr>
    <td>isdigit()</td>
    <td>Returns True if all characters in the string are digits</td>
  </tr>
  
  <tr>
    <td>isidentifier()</td>
    <td>Returns True if the string is an identifier</td>
  </tr>
  
  <tr>
    <td>islower()</td>
    <td>Returns True if all characters in the string are lower case</td>
  </tr>
  
  <tr>
    <td>isnumeric()</td>
    <td>Returns True if all characters in the string are numeric</td>
  </tr>
  
  <tr>
    <td>isprintable()</td>
    <td>Returns True if all characters in the string are printable</td>
  </tr>
  
  <tr>
    <td>isspace()</td>
    <td>Returns True if all characters in the string are whitespaces</td>
  </tr>
  
  <tr>
    <td>istitle()</td>
    <td>Returns True if the string follows the rules of a title</td>
  </tr>
  
  <tr>
    <td>isupper()</td>
    <td>Returns True if all characters in the string are upper case</td>
  </tr>
</table>

### Join, Split, Strip, Partition

<table style="width:100%">
  <tr>
    <td>join(iterable)</td>
    <td>Joins the elements of an iterable to the end of the string</td>
  </tr>

  <tr>
    <td>lstrip()</td>
    <td>Returns a left trim version of the string</td>
  </tr>

  <tr>
    <td>partition()</td>
    <td>Returns a tuple where the string is parted into three parts</td>
  </tr>
  
  <tr>
    <td>split()</td>
    <td>Splits the string at the specified separator, and returns a list</td>
  </tr>
  
  <tr>
    <td>splitlines()</td>
    <td>Splits the string at line breaks and returns a list</td>
  </tr>

  <tr>
    <td>strip(char, opt_maxsplit)</td>
    <td>Remove str (default spaces) at the beginning and at the end of the string</td>
  </tr>
  
  <tr>
    <td>rpartition()</td>
    <td>Returns a tuple where the string is parted into three parts</td>
  </tr>
  
  <tr>
    <td>rsplit()</td>
    <td>Splits the string at the specified separator, and returns a list</td>
  </tr>
  
  <tr>
    <td>rstrip()</td>
    <td>Returns a right trim version of the string</td>
  </tr>
</table>

In [3]:
myTuple = ("John", "Peter", "Vicky")
x = "->".join(myTuple)
print(x)

txt = "welcome to the jungle"
x = txt.split()
print(x)

txt = ",,,,,rrttgg.....banana....rrr"
x = txt.strip(",.grt")
print(x)

John->Peter->Vicky
['welcome', 'to', 'the', 'jungle']
banana

### Encoding
<table style="width:100%">
  <tr>
    <td>encode(encoding=, errors=)</td>
    <td>Returns an encoded version of the string</td>
  </tr>
</table>

### Parameters
<table style="width:100%">
<tr>
  <td>encoding</td>
  <td>Optional. A String specifying the encoding to use. Default is UTF-8</td>
</tr>

<tr>
  <td>errors</td>
  <td>Optional. A String specifying the error method. Legal values are:</td>
</tr>
<tr>
  <td></td>
  <td>- `'backslashreplace'`: uses a backslash instead of the character that could not be encoded</td>
</tr>
<tr>
  <td></td>
  <td>- `'ignore'`: ignores the characters that cannot be encoded</td>
</tr>
<tr>
  <td></td>
  <td>- `'namereplace'`: replaces the character with a text explaining the character</td>
</tr>
<tr>
  <td></td>
  <td>- `'strict'`: Default, raises an error on failure</td>
</tr>
<tr>
  <td></td>
  <td>- `'replace'`: replaces the character with a questionmark</td>
</tr>
<tr>
  <td></td>
  <td>- `'xmlcharrefreplace'`: replaces the character with an xml character</td>
</tr>
</table>

In [3]:
txt = "My name is Ståle"
# encoding default UTF-8
print(txt.encode(errors="backslashreplace"))
print(txt.encode(errors="ignore"))
print(txt.encode(errors="namereplace"))
print(txt.encode(errors="replace"))
print(txt.encode(errors="xmlcharrefreplace"))
print('----------------')
print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'
b'My name is St\xc3\xa5le'
----------------
b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'