# Data Type
<table style="width:100%">

<tr>
<td>Text Type</td>
<td>str</td>
</tr>

<tr>
<td>Numeric Types</td>
<td>int, float, complex</td>
</tr>

<tr>
<td>Sequence Types</td>
<td>list, tuple, range</td>
</tr>

<tr>
<td>Mapping Type</td>
<td>dict</td>
</tr>

<tr>
<td>Set Types</td>
<td>set, frozenset</td>
</tr>

<tr>
<td>Boolean Type</td>
<td>bool</td>
</tr>

<tr>
<td>Binary Types</td>
<td>bytes, bytearray, memoryview</td>
</tr>

<tr>
<td>None Type</td>
<td>NoneType</td>
</tr>
</table>

# Example
<table style="width:100%">
  <tr>
    <th>Value</th>
    <th>Type</th>
  </tr>
  <tr>
    <td>"Hello World"</td>
    <td>str</td>
  </tr>
  <tr>
    <td>20</td>
    <td>int</td>
  </tr>
  <tr>
    <td>20.5</td>
    <td>float</td>
  </tr>
  <tr>
    <td>1j</td>
    <td>complex</td>
  </tr>
  <tr>
    <td>["apple", "banana", "cherry"]</td>
    <td>list</td>
  </tr>
  <tr>
    <td>("apple", "banana", "cherry")</td>
    <td>tuple</td>
  </tr>
  <tr>
    <td>range(6)</td>
    <td>range</td>
  </tr>
  <tr>
    <td>{"name" : "John", "age" : 36}</td>
    <td>dict</td>
  </tr>
  <tr>
    <td>{"apple", "banana", "cherry"}</td>
    <td>set</td>
  </tr>
  <tr>
    <td>frozenset({"apple", "banana", "cherry"})</td>
    <td>frozenset</td>
  </tr>
  <tr>
    <td>True</td>
    <td>bool</td>
  </tr>
  <tr>
    <td>b"Hello"</td>
    <td>bytes</td>
  </tr>
  <tr>
    <td>bytearray(5)</td>
    <td>bytearray</td>
  </tr>
  <tr>
    <td>memoryview(bytes(5))</td>
    <td>memoryview</td>
  </tr>
  <tr>
    <td>None</td>
    <td>NoneType</td>
  </tr>
</table>

In [3]:
x0 = "Hello World"	                          # str          
# 0. Hello World

x1 = 20	                                      # int          
# 1. 20

x2 = 20.5	                                  # float        
# 2. 20.5

x3 = 1j                                       # complex      
# 3. 1j

x4 = ["apple", "banana", "cherry"]	          # list         
# 4. ['apple', 'banana', 'cherry']

x5 = ("apple", "banana", "cherry")	          # tuple
# 5. ('apple', 'banana', 'cherry')

x6 = range(6)	                              # range        
# 6. range(0, 6)

x7 = {"name" : "John", "age" : 36}	          # dict         
# 7. {'name': 'John', 'age': 36}

x8 = {"apple", "banana", "cherry"}	          # set          
# 8. {'banana', 'apple', 'cherry'}

x9 = frozenset({"apple", "banana", "cherry"}) # frozenset    
# 9. frozenset({'banana', 'apple', 'cherry'})

x10 = True	                                  # bool         
# 10. True

x11 = b"Hello"	                              # bytes        
# 11. b'Hello'

x12 = bytearray(5)                            # bytearray    
# 12. bytearray(b'\x00\x00\x00\x00\x00')

x13 = memoryview(bytes(5))	                  # memoryview   
# 13. <memory at 0x1009a8a00>

x14 = None	                                  # NoneType     
# 14. None