# List Method

- https://www.w3schools.com/python/python_lists_methods.asp

<table style="width:100%">
  <tr>
    <th>Method</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>append()</td>
    <td>Adds an element at the end of the list</td>
  </tr>
  <tr>
    <td>clear()</td>
    <td>Removes all the elements from the list</td>
  </tr>
  <tr>
    <td>copy()</td>
    <td>Returns a copy of the list</td>
  </tr>
  <tr>
    <td>count()</td>
    <td>Returns the number of elements with the specified value</td>
  </tr>
  <tr>
    <td>extend()</td>
    <td>Add the elements of a list (or any iterable), to the end of the current list</td>
  </tr>
  <tr>
    <td>index()</td>
    <td>Returns the index of the first element with the specified value</td>
  </tr>
  <tr>
    <td>insert()</td>
    <td>Adds an element at the specified position</td>
  </tr>
  <tr>
    <td>pop()</td>
    <td>Removes the element at the specified position</td>
  </tr>
  <tr>
    <td>remove()</td>
    <td>Removes the item with the specified value</td>
  </tr>
  <tr>
    <td>reverse()</td>
    <td>Reverses the order of the list</td>
  </tr>
  <tr>
    <td>sort()</td>
    <td>Sorts the list</td>
  </tr>
</table>

In [1]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[50, 65, 23, 82, 100]
['banana', 'cherry', 'Kiwi', 'Orange']

# Tuple Method

- https://www.w3schools.com/python/python_tuples_methods.asp

<table style="width:100%">
  <tr>
    <th>Method</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>count()</td>
    <td>Returns the number of times a specified value occurs in a tuple</td>
  </tr>
  <tr>
    <td>index()</td>
    <td>Searches the tuple for a specified value and returns the position of where it was found</td>
  </tr>
</table>

# Using Asterisk*
- List or Tuple

In [2]:
fruits = ["apple", "banana", "cherry", "strawberry", "raspberry"]

(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)
print('--------------')
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']
--------------
apple
['banana', 'cherry', 'strawberry']
raspberry